<% provide(:title, 'Home') %>

<div class="center jumbotron">
  <h1>Welcome to Stellar Conquest</h1>
  <h2>
    This is the <%= yield(:title) %> page for our Orbit Feedback Application. You can find the codebase at <a href="https://github.com/paulLaxon/orbit001" target="_blank">my GitHub account.</a>
  </h2>

  <%= link_to "Create an account", '#', class: "btn btn-lg btn-primary" %>
</div>
